@use "../_mixins" as *;
@use "../_variables" as *;


// Header
.header {
  @include flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;

  padding: 0.5rem 50px;

  margin: 10px auto;
  width: 100%;
  max-width: $max-width;

  @media screen and (max-width: $md) {
    padding: 0.5rem 10px;
  }

  .leftContainer,
  .rightContainer,
  .midContainer {
    @include flex;
    align-items: center;
    height: 50px;
  }

  .rightContainer {
    > a,button {
      @include btn-base("small");
    }

    .newRecording {
      margin-right: 1rem;
      background-color: $primary-400;
      line-height: 2rem;
      min-width: 130px;
      font-size: 0.9rem;
      height: 90%;
      text-align: center;
      
      @include hideInMobile;

      @media (max-width: 1200px) {
        line-height: 1rem;
      }
    }

    .uploadVideo {
      justify-content: center;
      align-items: center;
      margin-right: 1rem;
      background-color: $primary-400;
      // line-height: 2rem;
      min-width: 130px;
      font-size: 0.9rem;
      height: 90%;
      text-align: center;
      
      @include hideInMobile;

      @media (max-width: 1200px) {
        line-height: 1rem;
      }
    }

    .authBtn {
      display: inline-flex;
      align-items: center;
      column-gap: 1.6rem;
      .logIn {
        color: $primary-400;
      }
      .signUp {
        @include btn-base("small");
        background-color: $primary-600;
      }
      @media screen and (max-width: $md) {
        display: none;
      }
    }
  }

  .midContainer {
    width: 60vw;
  }

  .pricing {
    margin-left: 1.5rem;
  }

  .premium {
    margin-left: 0.5rem;
    font-style: italic;
    font-weight: 600;
    font-size: 0.875rem;
    color: $primary-200;
  }

  .logo {
    font-family: "Shrikhand", "__Shrikhand_Fallback_8fa858", cursive, system-ui, -apple-system, sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 37px;
    color: rgb(65, 50, 69);
    padding: 0;

    @media screen and (max-width: $md) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  .image {
    @media screen and (max-width: $md) {
      width: 25px;
    }
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    pointer-events: auto;
  }

  .searchContainer {
    width: 100%;
    position: relative;
    z-index: 100;

    .searchResultContainer {
      width: 90%;
      height: 50vh;
      display: flex;
      justify-content: center;
      background-color: white;
      align-items: center;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      position: absolute;
      top: 100%;
      left: 5%;
      z-index: 1001;
      opacity: 0;
      transform: translateY(-10px);
      visibility: hidden;
      transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0s;
    
      @media screen and (max-width: $lg) {
        width: 90vw;
        height: 70vh;
        left: 5vw;
        top: 65px;
        position: fixed;
        border-radius: 8px;
      }
        
        &.active {
          opacity: 1;
          transform: translateY(0);
          visibility: visible;
        }

        .loaderContainer {
          display: flex;
          justify-content: center;
        }

        .initialResultContainer, .noResultContainer {
          width: 95%;
          height: 90%;
          background-color: rgba(0, 0, 0, 0.1);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: #F7F7F7;
          border-radius: 8px;
        }
        .initialResultContainer p {
          max-width: 70%;
          text-align: center;
          margin-top: 10px;
        }

        .searchResultList {
          width: 100%;
          height: 100%;
          overflow-y: auto;
          padding: 10px;

          .searchResultItem {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            border-bottom: 1px solid #E0E0E0;
            &:hover {
              background-color: $neutral-700;
            }
            .folderResult, .videoResult {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              column-gap: 10px;

              .resultIcon {
                padding: 4px;
                background-color: $neutral-800;
                border-radius: 25px;
                width: 45px;
                height: 42px;
                display: flex;
                justify-content: center;
                align-items: center;

                .iconContainer {
                  position: relative;
                  display: inline-block;
                }

                .archiveIcon {
                  position: absolute;
                  bottom: 17px;
                  right: 12px;
                  background: white;
                  border-radius: 50%;
                  padding: 2px;
                  color: #6d6875;
                }
              }

              .inTranscriptContainer {
                margin-left: auto;
                text-align: center;

                @media  screen and (max-width: $md) {
                  font-size: 0.8rem;
                }
              }

              .archiveIcon {
                vertical-align: middle;
                margin-left: 0.2rem;
              }

              .title {
                max-width: 400px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                font-size: medium;
                color: black;
                
                @media  screen and (max-width: $md) {
                  max-width: 300px;
                  font-size: 0.9rem;
                }
              }

              .metaInfo {
                @media screen and (max-width: $md) {
                  font-size: 0.8rem;
                }
              }
            }
          }
        }
      }
  }
}
