.main {
  max-width: 92rem;
  margin: 0 auto;
  padding: 0rem 1.5rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  background-image: url('/assets/background-curves.svg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.main > h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
  font-family: 'Kreon', serif;
  font-weight: bold;
}

.main > p {
  width: 100%;
  margin-bottom: 2rem;
  color: #9a989c;
}

@media screen and (min-width: 640px) {
  .main > p {
    width: 50%;
  }
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tableColumn {
  min-width: 20rem;
  max-width: 25rem;
  border: 2px solid #BCBAB8;
  height: 100%;
}

@media screen and (max-width: 425px) {
  .tableColumn {
    margin-bottom: 10px;
    padding: 10px;
  }
}

@media screen and (min-width: 768px) {
  .tableColumn {
    flex: 1;
  }
}

.tableColumn .image {
  width: 9rem;
  height: 9rem;
}

.tableColumn .title {
  font-size: 1.75rem;
  margin-top: 0.25rem;
  font-weight: 500;
}

.tableColumn .ubuntuTitle {
  font-family: 'Ubuntu', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 43px;
  color: #161319;
}

.tableColumn .tableHeader {
  height: 40vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.tableColumn .description {
  margin-top: 0.5rem;
  color: #9a989c;
  text-wrap: wrap;
  width: 50vw;
  min-height: 10vh;
}

@media screen and (min-width: 426px) {
  .tableColumn .description {
    width: 30vw;
  }
}

@media screen and (min-width: 769px) {
  .tableColumn .description {
    width: 20vw;
  }
}

@media screen and (min-width: 1025px) {
  .tableColumn .description {
    width: 10vw;
  }
}

.tableColumn .priceContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.tableColumn .priceContainer .price {
  font-size: 3.5rem;
  font-weight: 500;
}

.tableColumn .priceContainer .price::before {
  content: '$';
  font-size: 1.1rem;
  vertical-align: super;
  margin-right: 2px;
}

.tableColumn .priceContainer .interval {
  line-height: 1rem;
  color: #9a989c;
}

.tableColumn .priceContainer .savings {
  background-color: #f7f7f7;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin-left: auto;
  font-weight: 500;
  cursor: pointer;
}

.tableColumn .ctaBtn {
  background-color: #feed78;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  height: 3rem;
  width: 60%;
  margin: 1rem 0;
  cursor: pointer;
  transition: background-color 0.2s;
}

.tableColumn .ctaBtn.disabled {
  background-color: #f7f7f7;
  cursor: not-allowed;
}

@media screen and (min-width: 426px) {
  .tableColumn .ctaBtn {
    font-size: 1.25rem;
  }
}

.tableColumn .featureNames > li {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 4px;
}

.tableColumn .featureList {
  padding-left: 2rem;
  background-color: #F6F6F4;
}

.tableColumn .featureList > li {
  color: black !important;
  padding: 0.8rem 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.tableColumn .featureList > li .icon {
  width: 2.5rem;
  height: 1.55rem;
  flex-shrink: 0;
  padding: 0.125rem;
}

@media screen and (min-width: 1025px) {
  .table .tableColumn:nth-of-type(2) {
    border-right: 0px;
  }
}

.table .featureNameColumn {
  border: 0px;
}

.table .featureNameRow {
  text-align: center;
  font-weight: 600;
  padding: 0.5rem;
  background-color: #f5f5f5;
}

.table .featureValueRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.table .featureValueRow .col {
  padding: 0.5rem;
  border-right: 1px solid #eee;
}

.table .featureValueRow .col:last-child {
  border-right: none;
}

.table .headerRow {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

.table .headerCol {
  flex: 1;
  text-align: center;
}

.table .featureBlock {
  border-bottom: 1px solid #eee;
}

@media screen and (max-width: 425px) {
  .table .tableBorder {
    border: 2px solid #BCBAB8;
  }
}

@media screen and (min-width: 426px) {
  .table .borderBottom {
    border-bottom: 0px;
  }
}

@media (max-width: 425px) {
  .mobileHideWrapper {
    display: none;
  }
}

@media (min-width: 426px) {
  .laptopHideWrapper {
    display: none;
  }
}

.loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
