@use "../_mixins" as *;
@use "../_variables" as *;

.main {
  max-width: $max-width;
  margin: 0 auto;
  padding: 2rem $padding-x;
  position: relative;
  z-index: 1;

  @include flex(column);
  gap: 1rem;

  >h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
    z-index: 2;
  }

  >p {
    width: 100%;

    @include sm {
      width: 50%;
    }

    margin-bottom: 2rem;

    color: $neutral-400;
  }

  .table {
    @include flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    z-index: 2;
    
    .tableColumn {
      min-width: 20rem;
      max-width: 25rem;
      border: 2px solid #BCBAB8;
      height: 100%;

      @media screen and (max-width: 425px) {
        margin-bottom: 10px;
        padding: 10px;
      }

      @include md {
        flex: 1;
      }

      .image {
        width: 9rem;
        height: 9rem;
      }

      .title {
        font-size: 1.75rem;
        margin-top: 0.25rem;
        font-family: var(--font-base);
        font-weight: 500;
      }

      .tableHeader {
        height: 40vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
      }

      .description {
        margin-top: 0.5rem;
        color: $neutral-400;
        text-wrap: wrap;
        width: 50vw;
        min-height: 10vh;

        @media screen and (min-width: 426px) {
          width: 30vw;
        }

        @media screen and (min-width: 769px) {
          width: 20vw;
        }

        @media screen and (min-width: 1025px) {
          width: 10vw;
        }
      }

      .priceContainer {
        @include flex;
        align-items: center;
        gap: 0.5rem;
        margin-top: 1rem;

        .price {
          font-family: var(--font-heading);
          font-size: 3.5rem;
          font-weight: 500;
        }

        .price::before {
          content: '$';
          font-size: 1.1rem;
          vertical-align: super;
          margin-right: 2px;
        }


        .interval {
          line-height: 1rem;
          color: $neutral-400;
        }

        .savings {
          @include btn-base;
          background-color: $neutral-800;
          margin-left: auto;
          font-weight: 500;
        }
      }

      .ctaBtn {
        @include btn-base;

        font-size: 1rem;
        background-color: $orange-500;

        height: 3rem;
        width: 60%;
        margin: 1rem 0;

        &.disabled {
          background-color: $neutral-800;
          cursor: not-allowed;
        }
      }

      @media screen and (min-width: 426px) {
        .ctaBtn {
          font-size: 1.25rem;        }
      }

      .featureNames {
        >li {
          text-decoration: underline;
          text-decoration-style: dotted;
          text-underline-offset: 4px;
        }
      }

      .featureList {
        padding-left: 2rem;
        background-color: #F6F6F4;
        
        >li {
          color: black !important;
          padding: 0.8rem 0;
          list-style: none;
          @include flex;
          align-items: center;
          gap: 1.5rem;

          .icon {

            width: 2.5rem;
            height: 1.55rem;
            flex-shrink: 0;
            padding: 0.125rem;
          }
        }
      }
    }

    @media screen and (min-width: 1025px) {
      .tableColumn:nth-of-type(2) {
        border-right: 0px;
      }
    }

    .featureNameColumn {
      border: 0px;
    }

    .featureNameRow {
      text-align: center;
      font-weight: 600;
      padding: 0.5rem;
      background-color: #f5f5f5;
    }

    .featureValueRow {
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align: center;

      .col {
        padding: 0.5rem;
        border-right: 1px solid #eee;

        &:last-child {
          border-right: none;
        }
      }
    }

    .headerRow {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 0;
      font-weight: bold;
      border-bottom: 1px solid #ccc;
    }

    .headerCol {
      flex: 1;
      text-align: center;
    }

  }

  @media screen and (max-width: 425px) {
    .tableBorder {
      border: 2px solid #BCBAB8;
    }
  }

  @media screen and (min-width: 426px) {
    .borderBottom {
      border-bottom: 0px;
    }
  }

  @media (max-width: 425px) {
    .mobileHideWrapper {
      display: none;
    }
  }

  @media (min-width: 426px) {
    .laptopHideWrapper {
      display: none;
    }
  }
}

.loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
