.profileBtn {
  border-radius: 100%;
  height: 100%;

  display: flex;
  gap: 8px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.18);
  border-radius: 21px;
  width: fit-content;
  padding: 6px 10px 6px 25px;
  align-items: center;

  &:hover {
    background-color: #f5f5f5;
  }

  .profileImg {
    border-radius: 50%;
    object-fit: cover;
  }

  > svg {
    width: 50%;
    height: 50%;
  }
}
