@use "../_mixins" as *;
@use "../_variables" as *;

.toolbar {
  @include flex-center;
  flex-wrap: wrap;
  gap: 1.5rem;

  .recordingControlsContainer { 
    width: fit-content;
    display: flex;
    flex-direction: row;
    padding: 3px;
    gap: 0.3rem;
    border: 0.3px solid #DCDDDD;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: absolute;
    right: 0px;
    top: 30vh;
  
    .recordingControls {
      display: flex;
      flex-direction: row;
      gap: 0.2rem;
    }
    
    .pauseBar {
      width: 8px;
      height: 17px;
      margin: 0 1px;
      border: 2px solid black;
      border-radius: 3px;
      background-color: transparent;
    }
    
    .pauseBtn {
      @include btn-base(small);
      background-color: $primary-400;
      gap: 0rem;
      height: 40px;
      width: 42px;
    }
    
    .deleteBtn {
      @include btn-base(small);
      background-color: #EB001B;
      height: 40px;
      width: 42px;
    }
    
    .timer {
      @include flex(row);
      gap: 0.3rem;
      height:38px;
      padding: 0.25rem 0.6rem;
      border-radius: 6px;
      justify-content: left;
      align-items: center;
      align-self: center;
      width: fit-content;
      background-color: rgba(0,0,0,0.1);
    }

    .timer p {
      font-size: 16px;
    }
    
    .pulsate {
      animation: pulsate 1.5s infinite;
    }
    
    @keyframes pulsate {
      0% {
        transform: scale(1);
        opacity: 1;
      }
      50% {
        transform: scale(1.2);
        opacity: 0;
      }
      100% {
        transform: scale(1);
        opacity: 1;
      }
    }
    
    .menu {
      width: 53px;
      height: 34px;
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: center;
    }
    
    .menu:hover {
      cursor: pointer;
    }
  }

  .statusText {
    @include flex(column);
    min-width: 12.5rem;

    .status {
      @include flex;
      align-items: center;

      font-family: var(--font-heading);
      font-size: 1.5rem;
      font-weight: 500;

      > svg {
        width: 1.125rem;
        height: 1.125rem;
        margin-right: 0.25rem;
        fill: $red-400;
      }

      &.statusPaused {
        > svg {
          fill: $orange-400;
        }
      }

      .timer {
        font-family: var(--font-heading);
        margin-left: 0.5rem;
      }
    }

    .tip {
      @include flex;
      align-items: center;

      margin: 0;
      margin-left: 1.45rem;

      font-size: 0.85rem;

      > strong {
        font-weight: bold;
        color: $primary-400;
        margin-right: 0.25rem;
      }
    }
  }

  .dragCursorTip {
    color: black;
    background-color: $neutral-800;
    padding: 1rem 1rem;
    border-radius: 10px;
    @include flex;
    align-items: center;
    white-space: nowrap;
    display: inline-flex;
    gap: 0;

    :global(.cursor) {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      flex-shrink: 0;
      width: 2px;
      height: 30px;
      background-color: $red-400;
      margin: 0 0.5rem;
      z-index: 1;

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 0.4rem;
        height: 0.4rem;
        border-radius: 999px;
        background-color: $red-400;
        z-index: 2;
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }
    }
  }

  .timerUpsell {
    @include btn-base;
    background-color: $orange-500;
  }

  .buttons {
    @include flex;
    padding: 1rem;
    gap: 0.65rem;
    min-width: 16rem;

    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 2px 15px 3px rgba(0, 0, 0, 0.07);

    > button {
      @include flex-center;
      white-space: nowrap;

      height: 2.5rem;

      border-radius: 5px;
      padding: 0.5rem;
      background-color: $neutral-800;

      svg {
        width: 100%;
        height: 100%;
      }

      &.pause {
        background-color: $primary-400;
        padding: 0.5rem 2rem;
      }
    }
  }

  :global(#editorCompleteButton) {
    padding: 0.5rem 1rem;
    background-color: $primary-600;
  }

  :global(#cancelEditButton) {
    padding: 0.5rem 1rem;
  }
}
