$max-width: 83rem;

// Breakpoints
$sm: 640px;
$md: 768px;
$lg: 1024px;

/**
* Colors
*/
$title: #413245;

$primary-400: #67e997;
$primary-200: #15bd53;
$primary-600: #edfae1;

$blue-400: #4987ec;
$red-400: #ff0000;
$red-300: #dc1212;
$orange-400: #ffd600;
$orange-500: #feed78;
$orange-800: #fffeef;

$neutral-100: #161319;
$neutral-200: #212121;
$neutral-250: #464646;
$neutral-300: #555555;
$neutral-400: #9a989c;
$neutral-600: #e0e0e0;
$neutral-700: #f4f4f4;
$neutral-800: #f7f7f7;

// Usually x padding
$padding-x: var(--padding);
